.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.item {
    display: flex;
    flex-direction: column;
    border: 2px solid black;   
    border-radius: 10px;   
}
